.App {
  height: 100%;
  width: 100%;
}
.main-layout {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
.Houses {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  gap: 40px;
}

.custom-slide img {
  width: 100%; /* Make the image fill the width of the slide */
  height: 100%; /* Make the image fill the height of the slide */
  object-fit: cover; /* Maintain aspect ratio and cover the entire slide */
}

.filter-container {
  display: flex;
  flex-direction: row;
}

.about-us {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
